.Header {
    /* Coloring */
    color: white;
    font-size: x-large;
    background-color: black;

    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    
    /* Sizing */
    height: calc(100% / 16);
    width: 100%;
}