.Footer {
    /* Coloring */
    color: white;
    font-size: x-large;
    background-color: black;

    /* Positioning */
    position: fixed;
    bottom: 0;
    left: 0;

    /* Sizing */
    height: calc(100% / 16);
    width: 100%;
}