.Content {
    /* Coloring */
    color: black;
    background-color: white;

    /* Positioning */
    position: fixed;
    top: calc(100% / 16);
    left: 5px;

    /* Sizing */
    width: 100%;
    height: 87.5%;
    overflow-x: clip;
    overflow-y: auto;
}